body{
	margin:0;
	padding:0;
	font-family:'Arial';
}
.nav{
	background-color:#595959;
	color:#fffffff;
	list-style:none;
}
.nav > li{
	padding:10px 0 10px 0;
	
}
.nav > li > a {
	text-decoration:none;
	color:#fff;
	
}
.nav > li > a:hover{
	color:#c1c1c1;
}